body
{
background-image: url(file:///F:/Udemy/img/nav2.jpg);
background-size: cover;
width: 100%;
height: 100%;
}

.btn-primary
{
	padding: 1rem 2rem;
    border-radius: 200px;
	font-weight: 700;
	text-transform: uppercase;

}
h1{
	font-size: 3rem;
	color: #607d93;	
}

.btn-primary:hover
{

   	border-width: 5px;

}